
body {
    width: 100%;
    height: 100vh;
    background: #dedede;
    display: flex;
    align-items: center;
    justify-content: center;
}

header{
    position: relative;
    width: 80%;
    height: 90%;
    background: #fff;
    box-shadow: 0px 0px 50px -1px rgb(0,0,0);
    padding: 0px 30px; 
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    
}

.header1::-webkit-scrollbar {
    display: none;
}

.first {
    background-color: black;
    width: auto;
    height: 120px;
    padding: 10px;
    display: flex;

    color: #fff;
    margin-top: 20px;
}

.first h1 {
    margin: auto auto auto auto;
    font-size: 27px;
    display: block;
}

.first h6 {
    margin-top: 70px;
    margin-left: 200px
}

.sec1 {

    position: relative;
    width: 52%;
    height: fit-content;
    background: #fff;
    box-shadow: 0px 0px 10px -1px rgb(0, 0, 0);
    padding: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    font-weight: 600;
}

header nav div #logo {
    height: 95px;
}

.sec2 {
    position: relative;
    width: 52%;
    background: #fff;
    box-shadow: 0px 0px 10px -1px rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    height: 450px;
}

.sec2 .grid-container {
    display: grid;
    grid-template-columns: auto auto;
    text-align: center;
    opacity: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.grid-item {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0px 0px 5px -1px rgb(0, 0, 0);
    padding: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sec3 {
    justify-content: right;
    align-items: right;
    margin-left: auto;
    margin-top: 10px;
    width: fit-content;
    margin-right: 50px;
}

.sec4 #hod,
#vicePrincipal {
    width: 180px;
    height: 180px;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

#vicePrincipal {
    margin-top: 40px;
}

.sec4 .grid-container2 {
    display: grid;
    flex-direction: column;
    grid-template-columns: auto auto;
    flex-wrap: wrap;
}

.grid-item2 {
    position: relative;
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

.grid-item3 {
    margin-left: 20px;
}

.grid-item3 #p1 {
    font-weight: bolder;
}

.grid-item4 {
    margin-top: 20px;
    margin-left: 20px;
}

.grid-item4 #p1 {
    font-weight: bolder;
}

#footer{
    height: fit-content;
    text-align: center;
    color: #dedede;
    background-color: black;
}
footer .footer{

    text-align: center; 
    font-size: 16px; 
    background-color: black;
    color: white;
    margin-bottom: 20px;
}